<div class="text-center">
    <form method="post" enctype="multipart/form-data">
        <label>Nombre para la imagen : </label>
        <input type="text" name="nombreImagen" class="form-control" />
        <br />
        <div class="input-file-container">
            <input name="imagenBBDD" class="input-file" id="my-file" type="file">
            <label tabindex="0" for="my-file" class="input-file-trigger">Select image...</label>
            <p class="file-return"></p>
        </div>
        <br />
        <button>Subir Imágen</button>
    </form>
</div>